.list {
  position: absolute;
  top     : 50px;

  width: 100%;
  max-height: 350px;

  border       : 1px solid var(--dark-blue-color);
  border-radius: 5px;

  display       : flex;
  flex-direction: column;
  row-gap       : 5px;

  overflow  : hidden;
  overflow-y: auto;

  z-index: 200;
}

.item {
  display: flex;
  padding: 5px;

  cursor: pointer;
}