.menu {
  width : 25px;
  height: 26px;

  border-top   : 2px solid var(--dark-blue-color);
  border-bottom: 2px solid var(--dark-blue-color);

  margin-left     : 6px;
  position        : relative;
  background-color: var(--chat-color);
  cursor          : pointer;
}

.middle {
  position     : absolute;
  top          : 12px;
  width        : 25px;
  border-bottom: 2px solid var(--dark-blue-color);
}

.content {
  position: absolute;
  top     : 52px;
  left    : 5px;
  bottom  : 0px;

  width : max-content;
  height: max-content;
  border: 1px solid black;

  display       : flex;
  flex-direction: column;
  row-gap       : 4px;

  background-color: var(--background-color);
}

.item {
  padding-left : 12px;
  padding-right: 8px
}

.item:hover {
  background-color: var(--highlited-color);
  transition      : 0.2s;
}

.icon {
  max-width : 32px;
  max-height: 32px;
}

.text {
  font-size: 16px;
  cursor   : pointer;
}