@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load {
  width        : 8px;
  height       : 8px;
  border-radius: 50%;
  border       : 3px dashed var(--dark-blue-color);
  animation    : spin 1s infinite linear;
}