.item {
  max-width : 80%;
  width     : max-content;
  display   : flex;
  overflow-x: hidden;
}

.my {
  margin-left: auto !important;
  text-align : end;
}

.avatar {
  max-height: 50px;
  max-width : 50px;
  margin    : 0px 10px;
}

.login {
  display    : block;
  width      : max-content;
  font-weight: 600;
}

.text {
  display   : block;
  word-break: break-word;
}

.headAndText {
  padding-top: 5px;
}

.oneAttachment {
  width     : max-content;
  margin    : 0px 10px;
  margin-top: 10px;
}

.attachments {
  display              : grid;
  grid-template-columns: 1fr 1fr;
  grid-gap             : 5px;
  width                : max-content;
  margin               : 0px 10px;
  margin-top           : 10px;
}

.photoAttachment {
  max-width : 250px;
  max-height: 250px;
}

.timeAndLogin {
  display: flex;
}

.time {
  display   : block;
  width     : max-content;
  font-size : 10px;
  margin    : 0px 5px;
  margin-top: auto;
}